/* You can add global styles to this file, and also import other style files */
body {
  background: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
